<div [formGroup]="form">

  <mat-radio-group formControlName="shippingOption">

    <mat-radio-button class="example-radio-button" [value]="ShippingOptions.Ground">Ground</mat-radio-button>

    <mat-radio-button class="example-radio-button" [value]="ShippingOptions.Priority">Priority</mat-radio-button>

  </mat-radio-group>
</div>

<!--<div class="form-val">-->

<!--  Form validity state: {{form.valid }}-->

<!--</div>-->

<!--<div class="form-val">-->

<!--  {{form.value | json}}-->

<!--</div>-->
