<mat-toolbar color="primary">
  <div class="toolbar-tools">

    <a mat-button class="menu-item" *ngIf="isLoggedIn$ | async"
       routerLink="/login"
       [routerLinkActiveOptions]="{exact:true}"
       routerLinkActive="menu-item-active">
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </a>

    <a mat-button class="menu-item" (click)="logout()" *ngIf="isLoggedOut$ | async">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </a>
    <a class="menu-item" mat-button routerLink="/wizard"
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{exact:true}">
      <span>Wizard</span>
    </a>
    <a class="menu-item" mat-button routerLink="/shippingLabel"
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{exact:true}">
      <span>Shipping Label</span>
    </a>
  </div>
</mat-toolbar>
  <router-outlet></router-outlet>
